<h1>Lista użytkowników</h1>

<table class="tabela">
  <thead>

  <tr>
    <td class = "czerwony">Pole</td>
    <td>Id</td>
    <td>Imie</td>
    <td>Nazwisko</td>
    <td>Login</td>
    <td>Pesel</td>
    <td>Rola</td>
    <td>Edycja</td>
    <td>Profil</td>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td class = "czerwony"></td>
      <td><%=h user.id %></td>
      <td><%=h user.first_name %></td>
      <td><%=h user.last_name %></td>
      <td><%=h user.login %></td>
      <td><%=h user.pesel %></td>
      <td><%=h user.role %></td>
      <td><%=h link_to 'Edytuj', user_edit_path(:ciaramba => user.id) %></td>
      <td><%=h link_to 'Profil', user_profile_path(:ciaramba => user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><a href="/user/start">Powrót do strony głownej.</a></p>