<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Profil użytkownika <%=@user.first_name%> <%=@user.last_name%></h1>
<a><%@signal%></a>
<p><a href="/user/index">Powrót</a></p>
<p><a href="/user/start">Powrót do strony głównej</a></p>

<%if @signal %>
  <% @data_line_chart = [] %>
  <% mytime = 0 %>
  <% rec = @signal1 %>
  <% rec.each do |data| %>
    <% table = [] %>
    <% table << mytime %>
    <% table << data %>
    <% mytime += 5 %>
    <% @data_line_chart << table %>
  <% end %>
  <p> <%= line_chart @data_line_chart, points: false, discrete: true, xtitle: "czas [ms]", ytitle: "amplituda [mV]" %> </p>
<%end %>

<table class="tabela">
  <thead>

  <tr>
    <td class = "czerwony">Id</td>
    <td>Data załadowania zapisu</td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  <% @SIG.each do |sig| %>
    <tr>
      <td class = "czerwony"><%=h sig.id %></td>
      <td><%=h sig.created_at %></td>
      <td><%=h link_to "Wyświetl",  {:REC=> sig.id, :ciaramba => params[:ciaramba]} %></td>
    </tr>
  <% end %>
  </tbody>
</table>






