<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Profil użytkownika <%=@user.first_name%> <%=@user.last_name%></h1>
<p><%= link_to 'Wstecz', :back %></p><!--
<p><a href="/user/start">Powrót do strony głównej</a></p>
-->

<%if @signal %>

    <% @data_line_chart = [] %>
  <% mytime = 0 %>
  <% myS = Time.at(mytime).utc.strftime("%S:%L") %>
    <% rec = @signal1 %>
    <% rec.each do |data| %>
      <% table = [] %>
      <% table << myS %>
      <% table << data - 500 %>
      <% mytime += 5 %>
      <% myS = Time.at(mytime.to_f/1000).utc.strftime("%S:%L") %>
      <% @data_line_chart << table %>
    <% end %>
    <% size = @data_line_chart.size %>
    <% s = size/6 %>
  <p> <%= line_chart @data_line_chart[0..s], points: false, xtitle: "czas [s:ms]", ytitle: "amplituda [mV]" %> </p>
  <p> <%= line_chart @data_line_chart[s+1..2*s], points: false, xtitle: "czas [s:ms]", ytitle: "amplituda [mV]" %> </p>
  <p> <%= line_chart @data_line_chart[2*s+1..3*s], points: false, xtitle: "czas [s:ms]", ytitle: "amplituda [mV]" %> </p>
  <p> <%= line_chart @data_line_chart[3*s+1..4*s], points: false, xtitle: "czas [ms]", ytitle: "amplituda [mV]" %> </p>
  <p> <%= line_chart @data_line_chart[4*s+1..5*s], points: false, xtitle: "czas [ms]", ytitle: "amplituda [mV]" %> </p>
  <p> <%= line_chart @data_line_chart[5*s+1..size-1], points: false, xtitle: "czas [ms]", ytitle: "amplituda [mV]" %> </p>

<%end %>

<table class="tabela">
  <thead>

  <tr>
    <td class = "czerwony">ID</td>
    <td>Data załadowania zapisu</td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  <% @SIG.each do |sig| %>
    <tr>
      <td class = "czerwony"><%=h sig.id %></td>
      <td><%=h sig.created_at %></td>
      <td><%=h link_to "Wyświetl",  {:REC=> sig.id, :ciaramba => params[:ciaramba]} %></td>
    </tr>
  <% end %>
  </tbody>
</table>






